@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.horizontal-scroll {
  overflow-x: auto; /* Permite desplazamiento horizontal */
  white-space: nowrap; /* Evita que los elementos se envuelvan */
}

.ibc-active-link-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity)) /* #93c5fd */;
}

.ibc-active-link-text {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity)) /* #1d4ed8 */;
}